<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/css/custom.min.css" />

    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/plugins/bootstrap/bootstrap.min.js"></script>

    <title>We-Code Template</title>

    <script>
        var apiUrl = '@string.Format("{0}://{1}:{2}/api/", Request.Url.Scheme, Request.Url.Host, @System.Configuration.ConfigurationManager.AppSettings["apiUrlPort"])';
    </script>
</head>
<body>

    <!-- Fixed navbar -->
    <header>
        @Html.Partial("_Menu")
    </header>

    <!-- Body -->
    <main role="main" class="container" style="margin-top: 150px">
        @RenderBody()
    </main>

</body>
</html>