<!-- The Modal -->
<div class="modal fade" id="waiter">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Elaborazione in corso...</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                
            </div>

        </div>
    </div>
</div>