

<div id="dev-details" class="container-fluid">

    <input hidden id="id" value="@Request["id"]" />

    <h1 class="mt-5">{{title}} details</h1>

    <!-- First / Last name -->
    <div class="row pb-3">
        <label class="col-md-2">First name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" v-model="dev.FirstName" />
        </div>

        <label class="col-md-2">Last name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" v-model="dev.LastName" />
        </div>
    </div>

    <!-- Category -->
    <div class="row">
        <label class="col-md-2">Category</label>
        <div class="col-md-4">
            <select2 class="form-control"
                     :placeholder="'Select category'"
                     :options="optionSkills"
                     :value.sync="dev.Category"
                     :value-field="'Value'"
                     :text-field="'Text'" />
        </div>

        <label class="col-md-2">Birthday</label>
        <div class="col-md-4">
            <datepicker :value.sync="dev.Birthday" />
        </div>
    </div>

    <!-- Buttons -->
    <div class="row pt-3">
        <div class="col-md-12 text-right">
            <button v-on:click="onSave()" class="btn btn-primary">Save</button>
        </div>
    </div>

</div>

<script type="application/javascript" src="~/build/devs_details_page.js"></script>



