

<div id="dev-details">

    <h1 class="mt-5">{{title}}</h1>

    <p>Details</p>

    <!-- First / Last name -->
    <div class="row">

        <label class="col-2">First name</label>
        <div class="col-3">
            <input type="text" v-model="firstName" />
        </div>

        <label class="col-2">Last name</label>
        <div class="col-3">
            <input type="text" v-model="lastName" />
        </div>

    </div>

    <!-- Category -->
    <div class="row">

        <label class="col-2" >Category</label>
        <div class="col-3">
            <select>
                <option v-for="category in categories">{{category}}</option> 
            </select>
        </div>

        <label class="col-2">Birthday</label>
        <div class="col-3">
            <input type="text"  v-model="birthday" />
        </div>

    </div>

    <!-- Buttons -->
    <div class="row">
        <button v-on:click="save" >Save</button>
    </div>

</div>


<script>

    jQuery(document).ready(function () {
        var devsDetails = new DevsDetails(@Request["id"]);
    });

</script>


