<div id="dev-details" class="container-fluid">

    <h1 class="mt-5">{{title}}</h1>

    <p>Details</p>

    <!-- First / Last name -->
    <div class="row pb-3">
        <label class="col-md-2">First name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" v-model="dev.FirstName" />
        </div>

        <label class="col-md-2">Last name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" v-model="dev.LastName" />
        </div>
    </div>

    <!-- Category -->
    <div class="row">
        <label class="col-md-2">Category</label>
        <div class="col-md-4">
            <select2 :placeholder="'Select category'"
                     :options="categories" :value.sync="dev.Category"
                     :value-field="'Code'" :text-field="'Description'" />

        </div>

        <label class="col-md-2">Birthday</label>
        <div class="col-md-4">
            <date-picker class="form-control" v-model="dev.Birthday" :config="config" placeholder="DD/MM/YYYY"></date-picker>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row pt-3">
        <div class="col-md-12 text-right">
            <button v-on:click="save" class="btn btn-primary">Save</button>
        </div>
    </div>

</div>


<script>
    jQuery(document).ready(function () {
        var devsDetails = new DevsDetails(@Request["id"]);

    });
</script>


