
<h1 class="mt-5">Devs</h1>

<table class="table table-striped dt-responsive" id="devs-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Category</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>

    jQuery(document).ready(function () {
        var devsIndex = new DevsIndex();
    });

</script>