<div id="index-devs-page">

    <h1>{{title}}</h1>

    <data-table :columns="columnOptions" :rows="devs" >
        <template slot="thead">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Category</th>
            <th>Birthday</th>
            <th>Actions</th>
        </template>
    </data-table>

</div>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/dataTable.b4.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/plugins/datatables/dataTable.b4.js"></script>

<script type="application/javascript" src="~/build/devs_index_page.js"></script>