
<h1 class="mt-5">Devs</h1>

<table class="table table-striped" id="devs-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Category</th>
            <th>Birthday</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<link rel="stylesheet" href="~/Content/plugins/datatables/css/jquery.dataTables.css" />
<script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
@*<script src="~/build/devs_index_page.js"></script>*@
<script src="~/src/pages/devs/index.page.js"></script>

<script>

    jQuery(document).ready(function () {
        var devsIndex = new DevsIndex();
    });

</script>