<p>Datepicker</p>

<div id="datepicker-demo" class="row">

    <div class="col-6">
        <datepicker :value.sync="date1" v-on:value-changed="onValueChanged" />
    </div>

    <div class="col-6">
        <datepicker :value.sync="date2" v-on:value-changed="onValueChanged" />
    </div>

</div>

<script src="~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script type="application/javascript" src="~/build/datepicker_page.js"></script>


