

<div class="row" id="select2-demo" >
    
    <div class="col-6">

        <select2 class="form-control" ref="childComponent"
                 :disabled="false" :placeholder="'select a category'"
                 :options="categories" :value.sync="selectedCategory"
                 :value-field="'Code'" :text-field="'Description'"
                 v-on:value-changed="onCategoryChanged"
                 v-on:content-loaded="onContentLoaded" />

    </div>

    <div class="col-6">

        <select2 class="form-control" :disabled="false" :placeholder="'select a country'"
                 :url="'http://localhost:50510/api/Countries'" :value.sync="selectedCountry" :text="'arcadia'"
                 :value-field="'Code'" :text-field="'Description'"
                 v-on:value-changed="onCountryChanged" />

    </div>




</div>



<script>

    jQuery(document).ready(function () {

        var app = new Vue({
            el: '#select2-demo',
            data: {
                selectedCategory: '',                
                categories: [],

                selectedCountry: '4'
            },
            methods: {
                onCategoryChanged: function (newValue) {
                    console.log("new selected category", this.selectedCategory);
                },
                onCountryChanged: function (newValue) {
                    console.log("new selected country", this.selectedCountry);
                },
                onContentLoaded: function () {
                    console.log("categories loaed");
                }
            }
        })

        // categories
        $.getJSON(apiUrl + 'categories', function (result) {
            app.categories = result;

            app.$refs.childComponent.$on('content-loaded', function () {
                app.selectedCategory = result[2].Code;
            });

        });

    });

</script>

